body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("../../images/travelBack.jpg");  
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}

.countriesContainer{
    width: auto;
    min-height: 100vh;
}

