.countriesContainer{
    background: #9CECFB;  
    background: -webkit-linear-gradient(to right, #3266bb, #65C7F7, #9CECFB);  
    background: linear-gradient(to right, #3266bb, #65C7F7, #9CECFB);
    
    

    
    width: auto;
    min-height: 100vh;
}

