@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.Container{
    min-height: 100vh;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/*Form*/
.form{
    background: rgb(250, 245, 245);
    height: 90%;
    width: 50%;
    /*border: 1px solid black;*/
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3); 
    
}
.fullForm{
    height: 85%;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    /*border: solid 1px black;*/

}

.divTitle{
    height: 10%;
    width: 100%;
    /*border: solid 1px black;*/
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myTitle{
    font-family: 'Caveat', cursive;
    font-size: 60px;
}

.divData{
    /*border: solid 1px black;*/
    height: 100%;
    width: 45%;
    margin-right: 3%;
    text-align: center; 
    
}

/*textName*/
.divName{
    /*border: 1px solid black;*/
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
}
.txtName{  
    outline: none;
    border: 0;
    border-bottom: 1px solid #4e8186;  
    width: 50%;
    background: transparent;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    height: 30%;
    margin-right: 3%; 
}
.nameValidation{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

/*RANGE*/
.dificultadTitle{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: #2377a8;
    margin-right: 2.5%;
}
/*rangeDificultad*/
.rangeDificultad{
    -webkit-appearance: none;
    margin-left: 0;
    width: 55%;
}
.rangeDificultad::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;   
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    margin-top: -4.5px; 
    
}
.rangeDificultad:hover::-webkit-slider-thumb {
    background: rgb(240, 236, 236);
    height: 22px;
    width: 22px;
    margin-top: -5px;
}
.rangeDificultad:focus{
    outline: none;
}
.rangeDificultad::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #4f83a1;
    border-radius: 8px;
       
}
.rangeDificultad:hover::-webkit-slider-runnable-track {
    background: #2377a8;
    height: 10px;
}
.rangeDificultad::-webkit-slider-runnable-track{
   color: #22818a;
}
.rangeDifValue{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    color: #2377a8;
}
.divDificultad{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 5%;
}


/*rangeDuracion*/
.durationTitle{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: #22818a;
    margin-right: 2.5%;
}
.rangeDuracion{
    -webkit-appearance: none;
    background: transparent; 
    width: 70%;
    margin-left: 0;
    
}
.rangeDuracion::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;   
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    margin-top: -4.5px; 
    
}
.rangeDuracion:hover::-webkit-slider-thumb {
    background: rgb(240, 236, 236);
    height: 22px;
    width: 22px;
    margin-top: -5px;
}
.rangeDuracion:focus{
    outline: none;
}
.rangeDuracion::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #4e8186;
    border-radius: 8px;
    
    
}
.rangeDuracion:hover::-webkit-slider-runnable-track {
    background: #22818a;
    height: 10px;
}
.rangeDuracionValue{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    color: #22818a;
    margin-right: 5%;
}
.divDuracion{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

/*BUTTONS*/
.seasonTitle{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: 0;
    top: 0;
    margin-top: 2%;
    
}
.btnControl{
    height: 150px;
    width: 100%;
    display: inline-block; 
}
.btnSummer{
    display: block;
    width: 100%;
    height: 24%;
    border-radius: 8px;
    border: none;
    margin-bottom: 3%;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(#e9a846,#f3c888);
    outline: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
    
}
.btnSummer:hover{
    transform: scale(1.01);
}
.btnSpring{
    display: block;
    width: 100%;
    height: 24%;
    border-radius: 8px;
    border: none;
    margin-bottom: 3%;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(#4b7d53,#77b381);
    outline: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}
.btnSpring:hover{
    transform: scale(1.01);
}
.btnAutumn{
    display: block;
    width: 100%;
    height: 24%;
    border-radius: 8px;
    border: none;
    margin-bottom: 3%;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(#ca7972,#cea5a1);
    outline: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}
.btnAutumn:hover{
    transform: scale(1.01);
}
.btnWinter{
    display: block;
    width: 100%;
    height: 24%;
    border-radius: 8px;
    border: none;
    margin-bottom: 3%;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #fff;
    background: linear-gradient(#368491,#9dccd4);
    outline: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btnWinter:hover{
    transform: scale(1.01);
}
.notSelected{
    opacity: 0.4;
}

/*SELECT*/
.selectCountryTitle{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: 0;
    height: 5%;

}
.selectControl{
    width: 100%;
    height: 35%;
    background-color: #000000;
    border-radius: 8px;
}
.selectCountries{
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(to right, #4e8186, #92bfc4, #c9e1e4, #fdfdfd);
}
.optionCountry{
    background-image: linear-gradient(to right, #4e8186, #92bfc4, #c9e1e4, #fdfdfd);
    border-bottom: 1px solid #4e8186;
    font-family: 'Caveat', cursive;
    width: 100%;
    font-size: 18px;
    font-weight: bold;

}
.optionCountry:hover{
    color: #fff;
}



/*lista de paises seleccionados*/
.divList{
    /*border: solid 1px black;*/
    height: 100%;
    width: 45%;
    text-align: center;
}

/*my title*/
.listTitle{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myListTitle{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: 0;
}
.fullList{
    height: 80%;
    width: 100%;
    
}
.selectSelectedCountry{
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(to left, #4e8186, #92bfc4, #c9e1e4, #fdfdfd);
}
.selectedCountries{
    background-image: linear-gradient(to left, #4e8186, #92bfc4, #c9e1e4, #fdfdfd);
    border-bottom: 1px solid #4e8186;
    font-family: 'Caveat', cursive;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.divMessage{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.myMessage{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-top: 0;
}



/*CREATE BUTTON*/
.btnCreateContainer{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 1px black;*/
    border-radius: 8px;
}
.btnCreate{
    font-family: 'Caveat', cursive;
    height: 75%;
    width: 15%;
    border-radius: 8px;
    border: none;
    margin-bottom: 1%;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(to bottom right, #54abc5, #0f69b3);
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    outline: none;
}
.btnCreate:hover{
    background: linear-gradient(to bottom right, #30778d, #0b497c);
    color: rgb(243, 237, 237);
}




/*MODAL*/
.divModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Caveat', cursive;
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    border: none;
    text-align: center;
    border-radius: 8px;
    width: 15%; /* Could be more or less, depending on screen size */
    font-size: 30px;
}
.btnModal{
    border-radius: 8px;
    background: linear-gradient(to bottom right, #54c56c, #0fb317);
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Caveat', cursive;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    outline: none;
    border: none;
    height: 40px;
    width: 70px;

}
.btnModal:hover{
    background: linear-gradient(to bottom right, #308d3f, #0b7c3e);
    color: rgb(243, 237, 237);
}