@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*.Card{
    display: inline-table;
    margin-left: 3%;
}

.card-container{

    width: 16.5rem;
    margin-top: 25%;
    background: #fff;
    height: 28rem;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 10%;


}


.card-img{
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0; 
    
    
}

p{
    text-align: left;
    margin-left: 4%;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold;
    
}

.name{
    text-align: center;
    font-size: 20px;
}*/


.Card{
    display: inline-block;
   
}
.Card:hover{
    transform: scale(1.01);
}

.cardContainer{
    display: inline-block;
    position: relative;
    width: 20rem;
    height: 26rem;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.cardImg{
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.cardDescriptionBk {
    /*background: linear-gradient(to right, #3266bb, #65C7F7, #9CECFB);*/
    /*background-image: linear-gradient(0deg, #3266bb, #65C7F7);*/
    background-image: linear-gradient( #4e8186, #92bfc4, #c9e1e4, #fdfdfd);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: -5px;
    height: 90%;
    width: 120%;
    transform: skew(19deg, -9deg);
}

.cardDescription{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10%;
}

.name{
       
    font-size: 30px;
    font-weight: 500;
    color: white;
    
}

.p{
    font-size: 25px;
    font-family: 'Caveat', cursive;
}