@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.Container{
    width: 75%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #fff;
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 black;
    
}


.li{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0.5rem;
    height: 100%;
    width: 2%;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Caveat', cursive;

}
.li:hover{
    cursor: pointer;
    color: #3498db;
    font-size: 2.3rem;
}
.selected{
    
    color: #3498db;
}



