@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.Nav{
    /*background-color: #fff;
    background-image: linear-gradient(0deg, #3266bb, #65C7F7);*/
    background: rgb(41, 39, 39);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 1;
    

  /*@media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }*/
}

.NavLink{
    margin: 20px;
    color: rgb(41, 39, 39);
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
.NavLink:hover{
    color: lightblue;
}

.NavImg{
  position: relative;
  background-color: black;
  height: 60px;
  width: 60px;
  filter: brightness(1.1);
  mix-blend-mode:lighten;
}