.Nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    
    
    
  /*@media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }*/
}

.NavLink{
    margin: 20px;
    color: rgb(41, 39, 39);
    text-decoration: none;
    font-size: larger;

  
}
.NavLink:hover{
    color: lightblue;
}